/*
 Theme Name: Futurio child
 Theme URI: https://futurio.com/
 Description: Child theme for Futurio
 Author: Futurio
 Author URI: https://futurio.com/
 Template: futurio
 Version: 1.0
 ;laskld;kals;kd;lk
*/




@font-face {
  font-family: Gotham-Bold;
  src: url(./fonts/Gotham-Bold.ttf);
}


#news1 {
	background: #21242f;
	padding: 13px;
	color: #fff;
	padding-bottom: 49px;
}
#news2 {
	background: #21242f;
	color: #fff;
	padding: 12px;
}
#news1 h3 {
	color: #438d96;
}
#news2 h3 {
	color: #438d96;
}
.elementor-element-c592fa7 {
	background: #dfddc8;
}
#section2 .elementor-element-populated {
	background: #dfddc8 !important;
}
.container-fluid {
	margin-right: auto;
	margin-left: auto;
	padding-left: 0;
	padding-right: 0;
}
.logo-name {
	width: 100%;
	text-align: center;
	color: white;
	z-index: 9999;
	position: relative;
	padding:200px 0px;
}
.logo-name a {
	background: tranparent;
	border: 2px solid #fff;
	color: #fff;
	padding: 12px 42px;
	font-weight: bold;
	text-transform: uppercase;
}
.full-head-img {
	background-attachment: fixed;
	background-position: top;
}
.logo-name h3 {
	font-size: 30px;
	text-transform: uppercase;
}
.logo-name h1 {
	font-size: 77px;
	margin: 0px 0px 10px;
	line-height: normal;
	letter-spacing: 7px;
}
.full-head-img {
	padding-bottom: 50px!important;
	padding-top: 0!important;
}
.page-area {
	padding-top: 0;
	padding-bottom: 0;
}
.sticky{
	position:fixed;
	top:0px;
	-webkit-transition: all 1s;
	transition: all 1s;
}
#site-navigation {
	background: #dfddc8;
	box-shadow: -3px 7px 8px -4px #999;
}
.menu-container {
	float: right;
}
#menu-main-menu li a {
	color: #fff;
	font-weight: bold !important;
}
.site-title a {
	color: #fff;
	letter-spacing: 4px !important;
	text-transform: uppercase !important;
}
.nav > li > a::before {
	background-color: #21242f!important;

}
.elementor-element-0e597b3 h1 {
	color:#352e28;
	font-size: 70px !important;
	text-transform: uppercase;
}

.elementor-element-4c726a7 h1 {
	font-size: 70px !important;
}
.elementor-element-ba47fbf p {
	font-size: 16px;
	line-height: normal;
	margin: 0px;
	text-transform: uppercase;
}
.elementor-element-6106fca {
	width: 80% !important;
	margin: 0 auto;
}
.form-main p {
	width: 100%;
	max-width: 100% !important;
}
.form-main {
	width: 100%;
}
.box {
	width: 48%;
	float: left;
	margin: 1%;
}

.box2 {
	width:100%;
	float: left;
}
.box3 {
	width:100%;
	float: left;
	text-align:center;
}
.elementor-element-3c4dee1 h1 {
	font-size: 160px !important;
}




/********trcak list******/

.albumInfo {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.albumTracklist {
	font-size: 25px;
	text-transform: uppercase;
	color: #dfddc8;
	transform: rotate(90deg);
	transform-origin: 8px 12px;
	width: 30px;
	display: flex;
}
.albumWrapper > div {
	width: calc(50%);
}
.albumTracks {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	padding-left: 20px;
}
.albumTracks--track {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 16px;
}
.song-ui {
	cursor: pointer;
	display: block;
	width: 12px;
	height: 12px;
}
.song-ui {
	cursor: pointer;
}
.albumTracks--num {
	color: rgba(255,255,255,.5);
	font-weight: 300;
	font-size: 13px;
	text-align: left;
	margin-right: 15px;
	position: relative;
	top: 0px;
	padding-left: 15px;
}
.albumTracks--name {
	color: rgba(255,255,255,.9);
	
	font-weight: 300;
	font-size: 1.5rem;
	line-height: 1.4;
	text-align: left;
}
.labelLinks {
	margin-top: 30px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.labelLinks > a {
	width: calc(100% / 3 - 20px);
}
.labelLinks--link {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	border: 2px solid #6ec1e4;
	color: #fff;
	text-decoration: none;
	-webkit-transition: all 110ms ease-out;
	-o-transition: all 110ms ease-out;
	transition: all 110ms ease-out;
	margin-top: 15px;
}
.labelLinks--type {
	border-right: 2px solid #6ec1e4;
	padding: 10px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	-webkit-transition: all 110ms ease-out;
	-o-transition: all 110ms ease-out;
	transition: all 110ms ease-out;
	width: 50px;
}
.labelLinks--upLeft {
	position: absolute;
	left: 5px;
	top: 6px;
}
.labelLinks--upLeft::after {
	content: ' ';
	width: 2px;
	height: 20px;
	background-color: #fff;
	display: block;
	position: relative;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	top: -6px;
	left: 18px;
}
.labelLinks--upRight {
	position: absolute;
	right: 5px;
	bottom: 6px;
}
.labelLinks--upLeft, .labelLinks--upRight {
	color: #f5cf80;
	text-transform: uppercase;
	font-size: 1em;
	letter-spacing: .08rem;
	text-indent: .08rem;
}
.labelLinks--copy {
	text-align: left;
	padding: 8px 10px;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: .08rem;
	text-indent: .08rem;
	position: relative;
	top: 2px;
}
.labelLinks--upLeft, .labelLinks--upRight {
	color: #6ec1e4;
	text-transform: uppercase;
	font-size: 1em;
	letter-spacing: .08rem;
	text-indent: .08rem;
}
.labelLinks {
	width: 91%;
	margin: 20px auto 50px;
}
/******************/
.elementor-element-7db139c {
	background: url(http://boyandbear.chandigarhtutors.com/wp-content/uploads/2019/05/star.png);
	padding: 44px 50px;
}
.form-main input {
	background: transparent !important;
	color: #fff;
	border: 2px solid #6ec1e4 !important;
	margin-top: 8px;
}
.form-main textarea {
	background: transparent !important;
	color: #fff;
	border: 2px solid #6ec1e4 !important;
	margin-top: 8px;
}
.form-main label {
	color: #fff;
	
}
 .wpcf7-form input[type="submit"] {
	border: 2px solid #6ec1e4!important;
	padding: 8px 35px;
	margin: 20px auto 0px!important;
	background-color:#6ec1e4!important;
	color:#fff!important;
}


/***********************/
#nsu-form-0 .nsu-submit {
	width: 53% !important;
	border-radius: 0px !important;
	background: #6ec1e4 !important;
	color: #fff !important;
	padding-bottom: 19px !important;
	margin-left: -1px !important;
	border-color: #6ec1e4 !important;
}
#nsu-form-0 {
	float: left !important;
	width: 100% !important;
	    margin-left: 31% !important;
}
#nsu-form-0 p {
	float: left !important;
	width: 25% !important;
}
#nsu-form-0 input {
	border-radius: 0px !important;
	padding: 19px !important;
}
#nsu-form-0 label {
	color: #fff !important;
}
.legal {
	text-align: center !important;
}
#nsu-form-0 label {
	display: none !important;
}
#footer-heading h3 {
	font-weight: normal !important;
}
.product {
	width: 33% !important;
	float: left !important;
	padding: 34px !important;
}
.store {
	width: 100% !important;
	float: left !important;
}
.product-title {
	text-align: center !important;
	font-size: 23px !important;
	color: #fff !important;
	
}
.product-button {
	text-align: center !important;
	font-size: 18px !important;
	letter-spacing: 3px !important;
	margin-top: 19px !important;
}
.product-button a {
	background: #6ec1e4 !important;
	color: #fff !important;
	padding: 11px !important;
}
.back-ground-color {
	background: rgba(0, 0, 0, 0.5);
	padding: 15px 0px 31px;
}
#news {
	display: none !important;
}
.elementor-element-3c4dee1 h1 {
	font-size: 67px !important;
}
.logo-name {
	padding: 8px 0px 110px;
}


ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}

.social-network a.icoRss:hover {
	background-color: #F56505;
}
.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
	background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
	background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
	background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
	background-color: #D3D3D3;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}
.social-circle li a {
	border: 3px solid #fff !important;
	background-color: unset !important;
}
.icons {
	position: relative;
	z-index: 9;
	margin-left: -23px;
}
h1 {
	font-family: Gotham-bold !important;
}



/*****tab**********/

.tab1 {
	width: 100% !important;
	float: left !important;
	padding: 12px 10px !important;
}
.date {
	float: left !important;
	width: 20% !important;
}
.tabcontent {
	float: left !important;
	width: 47% !important;
}
.button {
	float: left !important;
	width: 33% !important;
}
.soldout {
	float: left !important;
	width: 27% !important;
}
.soldout {
	background: #6ec1e4 !important;
	padding: 10px !important;
	color: #fff !important;
	text-align: center !important;
	
}
.RSVP {
	float: left !important;
	width: 30% !important;
	background: #6ec1e4 !important ;
	padding: 11px !important;
	margin-left: 17px !important;
	color: #fff !important;
	text-align: center !important;
}
#home h2 {
	text-align: center !important;
}
.nav-tabs {
	border-bottom: none !important;
}
#home {
	float: left !important;
	width: 100% !important;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
	border: none !important;
	text-decoration: underline !important;
}
.nav.nav-tabs {
	width: 23% !important;
	margin: 0 auto !important;
	font-size: 19px;
}
.nav > li > a::before {
	background-color: transparent !important;
}
.nav > li.active > a::before, .current-page-parent::before {
	background-color: transparent !important;
}
#home a {
	color: #fff;
}
#tour {
	background: #21242f;
}
#home h3 {
	text-align: center;
	padding: 14px;
}
.date {
	color: #fff;
	font-size: 18px;
}
.tabcontent {
	color:#fff;
	font-size: 18px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	background-color: transparent;
}
.soldout a {
	color: #fff !important;
}
.RSVP a {
	color: #fff;
}

.rating {
	width: 30%;
	margin: 0 auto;
}
.logo-name h1 {
	font-family: Gotham-bold !important;
}
#home h3 {
	text-align: center;
	padding: 14px;
	margin-right: 56px;
}
#home h3 {
	color: #fff;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	color: #fff !important;
}

#colophon {
	display: none !important;
}
#shop {
	background: #21242f !important;
}
.logo-name h3 {
	font-size: 51px;
	letter-spacing: 14px;
	color: #dfddc8;
	padding-bottom: 90px;
	
}
.hold ul li {
	width: 33%;
	text-align: center;
	display: inline-block;
	color: #dfddc8;
	font-size: 37px;
	font-weight: bold;
	letter-spacing: 5px;
}
.hold {
	float: left;
	width: 100%;
	z-index: 9;
	position: relative;
	
}
.hold ul {
	margin: 0px;
	padding-left: 0px;
	
}
.hold ul li:first-child {
	text-align: left;
}
.hold ul li:last-child {
	text-align: right;
}
.logo-name a {
	position: relative;
	top: 19px;
}
body#blog {
	background-image: url( "http://boyandbear.chandigarhtutors.com/wp-content/uploads/2019/05/Frank_Moth_bb_back1-min.jpg" )!important;
}
.hold {
	padding-top: 20px;
}







/***************media query********************/

/*******
@media only screen and (min-width:1921px) and (max-width:3000px){
.logo-name {
	padding: 309px 0px 208px;
}
}

@media only screen and (min-width:1600px) and (max-width:1920px){
.logo-name {
	padding: 196px 0px 130px;
}
}
@media only screen and (min-width:1366px) and (max-width:1599px){
.logo-name {
	padding: 140px 0px 150px;
}
}
****/
@media only screen and (min-width:320px) and (max-width:670px){
	#nsu-form-0 {
	margin-left: unset !important;
}
#nsu-form-0 p {
	width: 100% !important;
}
#nsu-form-0 .nsu-submit {
	width: 100% !important;
}
#nsu-form-0 input {
	padding: 15px !important;
}
#ask-text .elementor-widget-container {
	padding: 0px;
	text-align: center;
}#ask-text h1 {
	font-size: 63px !important;
}
	#ask-form {
	padding: 12px !important;
}
.product {
	width: 100% !important;
}
	.logo-name h1 {
	font-size: 50px;
}
	#section2 .elementor-column-wrap {
	padding: 23px 10px 10px 10px;
}
	.menu-container li a {
	color: #000 !important;
}
	.labelLinks--link {
	width: 100% !important;
}
	.labelLinks {
	margin-top: 30px;
	margin-left: 10px;
	margin-right: 10px;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
}
	.albumInfo {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	width: 100% !important;
}
	.albumTracklist {
	position: static;
	width: 100%;
	transform: rotate(0);
	margin: 30px 0;
}
	.albumTracks {
	padding-left: 0px;
}
	.albumLinks {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	margin-left: 0;
}
	.albumLinks > a {
	height: 34px;
	display: block;
	margin-right: 25px;
}
	.nav.nav-tabs {
	width: 100% !important;
}
.date {
	width: 100% !important;
}
.tabcontent {
	width: 100% !important;
}
.button {
	width: 100% !important;
}
.soldout {
	float: left !important;
	width: 36% !important;
}
	.icons {
	margin-left: 10px;
	text-align: center;
	
}
}


