/**
 * Created 11.07.19
 * Version 1.0.2
 * Last update 13.07.19
 * Author: Alex L
 */

.widget {
  clear: both;
}

.page-main .block {
  margin-bottom: 55px;
}

.product-items {
  margin: 0;
  padding: 0;
  list-style: none none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.product-item {
  vertical-align: top;
}

.products-grid .product-item {
  display: inline-block;
  width: 100%;
  margin-bottom: 40px;
}

.column.main .product-item {
  padding-left: 22px;
}

.product-item-info {
  max-width: 100%;
  width: 152px;
}

.page-products .product-item-info {
  width: 240px;
  position: relative;
  overflow: hidden;
}

.block.widget .product-item-info {
  width: auto;
  position: relative;
  overflow: hidden;
  text-align: center;
}

a:visited,
.alink:visited {
  color: #000;
  text-decoration: none;
}

.product-image-container {
  display: inline-block;
  max-width: 100%;
}

.product-image-wrapper {
  display: block;
  height: 0;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

img {
  vertical-align: middle;
}

.product-image-photo {
  bottom: 0;
  display: block;
  height: auto;
  left: 0;
  max-width: 100%;
  position: absolute;
  right: 0;
  top: 0;
}

.brand-description img,
.brand-description p {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding-box !important;
  -webkit-background-clip: padding-box !important;
  background-clip: padding-box !important;
  width: 100%;
}

.brand-description img,
.brand-description p {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding-box !important;
  -webkit-background-clip: padding-box !important;
  background-clip: padding-box !important;
  width: 100%;
}

.block.widget .product-item-info {
  width: auto;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.product-item-name,
.product.name a {
  font-weight: normal;
}

.product-item-name {
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  display: block;
  hyphens: auto;
  margin: 5.5px 0;
  word-wrap: break-word;
}

.product-item-name>a,
.product.name a>a {
  color: #000;
  text-decoration: none;
  transition: all .35s ease;
}

.abs-product-link>a:visited,
.product-item-name>a:visited,
.product.name a>a:visited {
  color: #000;
  text-decoration: underline;
}

.product-item-details {
  min-height: 100px;
}

.product-item-details .product-item-name a.product-item-link {
  font-size: 18px;
  font-weight: 700;
}

.product-item-details .category-aec-artist {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 2px;
}

.product-item .price-box {
  margin: 5px 0 15px;
}

.des p {
  float: right;
  width: 100%;
  text-align: justify;
}

.product-item .price-from,
.product-item .price-to {
  margin: 0;
}

.des .product-item .price-from,
.des .product-item .price-to {
  text-align: center;
  float: none;
}

.brand-description p {
  float: left;
  padding: 0 15px 0 0;
  font-size: 12px;
  color: #666;
  width: 450px;
}

.brand-description img,
.brand-description p {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding-box !important;
  -webkit-background-clip: padding-box !important;
  background-clip: padding-box !important;
  width: 100%;
}

.block p:last-child {
  margin: 0;
}

.des .product-item .price-from,
.des .product-item .price-to {
  text-align: center;
  float: none;
}

.product-item .price-box .price-label {
  color: #808080;
  font-size: 14px;
}

.product-item .price-box .price {
  font-weight: bold;
  white-space: nowrap;
  color: #000;
  font-size: 16px;
}

.block.widget .product-item-info {
  width: auto;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.button_pre {
  background-image: none;
  transition: all .35s ease;
  background: none;
  border: 2px solid #000;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-family: 'FuturaPT-Book', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 10px;
  font-size: 1.3rem;
  line-height: 1.8rem;
  box-sizing: border-box;
  vertical-align: middle;
  text-transform: uppercase;
  line-height: 1;
}

.button_pre {
  overflow: visible;
}

.action.primary {
  background-image: none;
  transition: all .35s ease;
  background: #fff;
  border: 2px solid #000;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-family: 'FuturaPT-Book', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  padding: 10px;
  font-size: 1.3rem;
  box-sizing: border-box;
  vertical-align: middle;
  text-transform: uppercase;
  line-height: 1;
}

.product-item .tocart {
  font-size: 1.3rem;
  border-radius: 0;
  line-height: 1;
  white-space: nowrap;
}

.product-item-actions .actions-primary+.actions-secondary {
  display: none !important;
}

@media (min-width: 640px) {
  .products-grid .product-item {
    margin-bottom: 22px;
    width: 33.33333333%;
  }

  .page-products .products-grid .product-item,
  .page-layout-1column .products-grid .product-item,
  .page-layout-3columns .products-grid .product-item,
  .page-products.page-layout-1column .products-grid .product-item,
  .page-products.page-layout-3columns .products-grid .product-item {
    width: 33.33333333%;
  }

  .block.widget .products-grid .product-item,
  .page-layout-1column .block.widget .products-grid .product-item,
  .page-layout-3columns .block.widget .products-grid .product-item {
    width: 33.33333333%;
  }

  .product-item-actions {
    display: inline;
  }

  .products-grid .product-item-actions {
    margin: -11px 0 11px;
  }

  .page-products .product-item-actions {
    position: relative;
    z-index: 1;
  }

  .product-item-actions .actions-primary {
    display: table;
    margin: 10px auto;
  }

  .product-item-actions .actions-primary+.actions-secondary {
    display: table-cell;
    padding-left: 10px;
    width: 50%;
  }
}

@media (min-width: 768px),
print {
  .page-products .products-grid .product-item {
    width: 33.33333333%;
  }

  .page-products.page-layout-1column .products-grid .product-item {
    width: 25%;
  }

  .block.widget .products-grid .product-item {
    width: 32%;
  }

  .page-layout-1column .block.widget .products-grid .product-item {
    width: 25%;
  }
}

@media (min-width: 1024px),
print {
  .page-layout-1column .products-grid .product-item {
    width: 16.66666667%;
  }

  .page-products .products-grid .product-item {
    margin-left: 10px;
    padding: 0;
    width: calc(100% / 4 - 7.5px);
  }

  .page-products .products-grid .product-item:nth-child(4n + 1) {
    margin-left: 0;
  }

  .page-products.page-layout-1column .products-grid .product-item {
    margin-left: 0;
    width: 20%;
  }

  .block.widget .products-grid .product-item {
    width: 20%;
  }

  .block.widget .products-grid .product-item {
    margin-left: 10px;
    padding: 0;
    width: calc(100% / 4 - 7.5px);
  }

  .page-layout-1column .block.widget .products-grid .product-item {
    margin-left: calc((100% - 4 * 22.5806%) / 3);
    width: 22.5806%;
  }

  .block.widget .products-grid .product-item:nth-child(4n + 1) {
    margin-left: 0;
  }

  .page-layout-1column .block.widget .products-grid .product-item:nth-child(4n + 1) {
    margin-left: 0;
  }
}